{% load static compress i18n %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% block description %}
        <meta name="description" content="Издание русскоязычного сообщества в Chicago. RU новости, статьи,
        аналитика событий в США и мире с точки зрения русскоязычных американцев.">
    {% endblock %}
    {% block keyword %}
        <meta name="keyword" content="russian chicago, русский чикаго, онлайн, illinois, иллинойс, russians in US,
        America, русские в Америке, Америка, community, община, ью-Йорк, NYC, New York,  LosAngeles-Ru, Лос Анджелес,
        Los Angeles, communication, online, смотреть, фото, мюзикл, пожарные, фильм, полиция, общение, search, поиск,
        news, новости, chat, чат, green card, зелёная карта, вид на жительство, music, музыка, sport, спорт, evens,
        события, chicagoru, russkiy, по-русски, афиша, writers, писатели, русскоязычный, русскоязычная, русскоязычное,
        russian speaking, press, пресса, radio, радио, tv, тв, телевидение, exebitions, выставки, chilouts, тусовки,
        hobbies, увлечения, personal pages, персональные страницы, форум, forum, Чикаго.Ру, newspapers, газеты, журналы,
        magazines, выставки, exebitions, musium, musiums, музеи, музей, концерт, концерты, concert, concerts, бизнес,
        business, деловой, night clubs, ночные клубы, ночной клуб, restaurants, рестораны, кафе, cafe, магазин, магазины,
        store, stores, продукты, food, гастроном, deli, базар, market, clothing, одежда, деньги, money, books, книги,
        video, видео, audio, аудио, dating, знакомства, юноши, девушки, мужчины, женщины, мальчики, девочки, women,
        men, boys, girls, голые девки, проститутки, фотографии, photos, pictures, social nets, социальные сети, Россия,
        Russia, Москва, Moscow, Украина, Ukraine, Киев, Kiev, украинский, Беларусь, Belarus, Минск, Minsk, беларусский,
        Литва, Lietuva, Вильнюс, литовский, Латвия, Latvija, Рига, латышский, Эстония, Eesti, Таллинн, эстонский,
        Молдавия, Moldova, Кишинёв, молдавский, Грузия, Georgia, Тбилиси, грузинский, Армения, Armenia, Հայաստան,
        Ереван, армянский, Азербайджан, Azərbaycan, Баку, азербайджанский, Казахстан, Қазақстан, Астана, казахский,
        Узбекистан, O`zbekiston, Ташкент, узбекский, Туркмения, Türkmenistan, Ашхабад, туркменский, Таджикистан,
        تاجیکستان‎, Душанбе, таджикский, Киргизия, Кыргызстан, Бишкек, киргизский, скачать, сезон, сериал, цены, bulls,
        гарнстер, группа, купить, булс, blackhawks, bears, steel, university, of отзывы, prime, слушать, downtown,
        одежда, футболка, бейсболка, толстовка, кепка, скачать, бесплатно, usa, сша, now, 1930, билеты, купить,
        торрент, torrent">
    {% endblock %}
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'css/main.scss' %}">
    {% endcompress %}
    <script src="{% static 'js/vue.global.js' %}"></script>
    <script src="{% static 'js/axios.min.js' %}"></script>
    <title>
        {% block title %}
            7 Дней – новости Чикаго на русском, русский Чикаго, Russian Chicago, США, политика, события, аналитика,
            работа в Чикаго
        {% endblock %}
    </title>
</head>
<body class="light-theme">
{{ categories|json_script:"categoriesData" }}
{{ classys|json_script:"classysData" }}
{{ lang|json_script:"lang" }}
{% verbatim %}
<div class="wrap_grid" id="app">
    <header>
        <div class="logotype">
            <img src="/static/img/logo300x300.png" alt="logotype">
        </div>
        <div class="actions">
            <button v-if="lang == 'ru'" @click="changeLang()" class="btn_lang"><span
                    class="material-icons">language</span> EN
            </button>
            <button v-if="lang == 'en'" @click="changeLang()" class="btn_lang"><span
                    class="material-icons">language</span> RU
            </button>
            <button @click="showCats()" v-if="lang == 'ru'" class="btn_filter">Категории</button>
            <button @click="showCats()" v-if="lang == 'en'" class="btn_filter">Category</button>
        </div>
    </header>
    <main>
        <aside id="aside">
            <nav>
                <div class="logotype">
                    <img src="/static/img/logo300x300.png" alt="logotype">
                </div>
                <div>
                    <button v-if="lang == 'ru'" @click="changeLang()" class="btn_lang"><span class="material-icons">language</span>
                        EN
                    </button>
                    <button v-if="lang == 'en'" @click="changeLang()" class="btn_lang"><span class="material-icons">language</span>
                        RU
                    </button>
                    <button @click="showCats()" v-if="lang == 'ru'" class="btn_filter">Категории</button>
                    <button @click="showCats()" v-if="lang == 'en'" class="btn_filter">Category</button>
                </div>
            </nav>
            <div id="categories" class="categories">
                <button v-if="lang == 'en'"
                        v-for="cat in categories"
                        @click="filterCat(cat.id, cat.description)"
                        :class="btn_cat"
                        :id="'btn_cat'+cat.id"
                        :value="cat.id">{{ cat.name }}
                </button>
                <button v-if="lang == 'ru'"
                        v-for="cat in categories"
                        @click="filterCat(cat.id, cat.description)"
                        :class="btn_cat"
                        :id="'btn_cat'+cat.id"
                        :value="cat.id">{{ cat.description }}
                </button>
            </div>
        </aside>
        <section>
            <h1 v-if="lang == 'ru'">Частные объявления <small>{{ categoryName }}: {{ classys.length }}</small></h1>
            <h1 v-if="lang == 'en'">Private classifieds <small>{{ categoryName }}: {{ classys.length }}</small></h1>
            <div v-html="clHead"></div>
            <hr>
            <div v-for="classy in classys" :class="['cl_item', classy.categories_id]" :id="'cl_' + classy.id">
                <span class="date"><span class="material-icons">date_range</span>{{ classy.created }}</span>
                <p>{{ classy.newspaper_content }}</p>
            </div>
            <hr>
        </section>
    </main>
    <footer>
    </footer>
</div>
{% endverbatim %}
<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

{% block ajaxjs %}
{% endblock %}
</body>
</html>